<div class="container ml-auto text-center">
  <h1 class="d-inline-block px-3 mb-4 mt-4">Withdraw</h1>
    <p style="font-size: 16px;">本当に退会しますか？</br>
    退会すると、会員登録情報が全て閲覧できなります。</br>
    退会する場合は、「退会する」をクリックしてください。</p>

    <div class="text-center mb-4">
      <%= link_to '退会しない', edit_customers_path, class: 'btn btn-sm btn-secondary mr-3' %>
      <%= link_to '退会する', withdrawal_path, data: { confirm: "本当に退会しますか？" }, method: :patch, class: 'btn btn-sm btn-danger' %>
    </div>
</div>
