<table class="table table-hover">
  <thead class="border-bottom border-top border-secondary" style="background-color: #f2f2f2;">
  <tr>
    <th>Customername</th>
    <th>Posted date</th>
    <th>Comment</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% comments.each do |comment| %>
    <tr>
      <td><%= comment.customer.nickname %></td>
      <td><%= l comment.created_at %></td>
      <td><%= comment.content %></td>
      <td><%= link_to "Destroy", admin_coordinate_comment_path(comment.coordinate, comment),method: :delete, remote: true, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger pull-right btn-sm" %></td>
    </tr>
    <% end %>
  </tbody>
</table>


