<div class="container">
  <h1 class=" mt-5" style="font-size: 19px;">お客様の声を聞くことで余剰在庫による大量廃棄の削減、
      日々の業務を有効活用したサービスの展開をするために、、、
  </h1>
  <p class="ml-1">
        需要と供給のバランスを考えた在庫の調整をするため、お客様のいいね数やコメント＝お客様の声として収集したいと思いました。<br>
  　   そうすることにより、アパレル業界の問題点の一つでもある余剰在庫による大量廃棄を軽減できるのではないかと考えました。<br>
  　   また、ショップのマネキンは、1日に何度もコーディネートが変更されています。<br>
    来店していないお客様にもコーディネートを見ていただくことで接客を受ける必要がない、商品のイメージがしやすくなる、などのメリットがあると考えました。
      
  </p>
</div>
