  <!--top画像-->
<div class="img-fluid text-center top-image mt-4">
  <%= image_tag "topimage.png", height: 500 %>
</div>

<div class="row">
  <div class="col-10 offset-1 row">
      <% @coordinates.each do |coordinate| %>
      <div class="col-3">
        <div>
          <%= link_to coordinate_path(coordinate.id) do %>
            <%= image_tag coordinate.get_coordinate_image(150,150), class: "border border-secondary my-4" %>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
</div>

<!--<div class="d-flex flex-wrap">-->

<!--  <div class="w-25">-->

<!--  </div>-->
<!--</div>-->

<%#= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post %>
