<!--flashmessage-->
<div class="text-white bg-danger">
  <%= flash[:notice] %>
</div>
<div class="container">
  <!--top画像-->
  <div class="row">
    <div class="img-fluid text-center top-image mt-4">
      <%= image_tag "topimage.jpg", height: 500 %>
    </div>
  </div>

  <div class="row">
    <% @coordinates.each do |coordinate| %>
    <div class="col-6 col-md-3">
      <div class="text-center">
        <%= link_to coordinate_path(coordinate.id) do %>
          <%= image_tag coordinate.get_coordinate_image, class: "border-window my-4", style: "height: 200px; width: 200px; object-fit: contain;" %>
          <%#= image_tag coordinate.get_coordinate_image(150,150), class: "border-window my-4", style: "border-style: solid: 5px; object-fit: cover;" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
