<!--<p>Find me in app/views/admin/customers/index.html.erb</p>-->
<h3>Customers</h3>
<table class="table table-hover ml-auto mr-auto w-75">
  <thead class="border-bottom border-top border-secondary" style="background-color: ghostwhite">
    <tr>
      <th>customer ID</th>
      <th>customer name</th>
      <th>email</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.nickname %></td>
    <td><%= customer.email %></td>
    <td>
      <% if customer.is_deleted %>
        <div>退会</div>
      <% else %>
        <div>有効</div>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
