@import '~bootstrap/scss/bootstrap';
.top-image {
    height: 100%;
    width: 100%;

    img {
      border-color: #FFD700;
      border-width: 9px;
      border-style: solid;
      padding: 15px;
    }

// .top-code-image {
//   border-color: #FFD700;
//   border-width: 5px;
//   border-style: solid;
// }
    //background-image: url(../images/topimage.png);
    //border-color: #C0C0C0;
    //border-width: 3px;
    //border-style: solid;
    // background-color: #f2f2f2;
    //background-size: contain;
    //ackground-repeat: no-repeat;
    //background-position: center center;
    //position: relative;
}

// topページcoordinateimage
.border-window {
  border: 5px solid #6c757d;
  padding: 10px ;
}
// いいねボタン
.like-btn {
  color: #DC143C;
  font-size: 20px;
}

.unlike-btn {
  color: #777777;
  font-size: 20px;
}
// .navbar-toggler{
//   background-color: #yello;
// }

// ハンバーガーの色をRGBAで変更
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header {
  background-color: #f2f2f2;
}

// .navbar-brand {
//   background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(46, 204, 113, 1) 50%);
//   background-position: 0 0;
//   background-size: 200% auto;
//   transition: .3s;
// }
// .navbar-brand {
//   background-position: -100% 0;
//   color: #fff;
// }