@import '~bootstrap/scss/bootstrap';
.info-text-box {
    height: 500px;
    width: 100vw;
    background-image: url(../images/topimage.png);
    // background-color: #f2f2f2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}


// .navbar-toggler{
//   background-color: #yello;
// }

// ハンバーガーの色をRGBAで変更
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 69, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header {
  background-color: #f2f2f2;
}