@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// topページ画像
.top-image {
    height: 100%;
    width: 100%;

    img {
      border-color: #FFD700;
      border-width: 9px;
      border-style: solid;
      padding: 15px;
    }
}

// topページcoordinateimage
.border-window {
  border: 5px solid #6c757d;
  padding: 10px ;
  min-height: 200px;
}
// いいねボタン
.like-btn {
  color: #DC143C;
  font-size: 20px;
}

.unlike-btn {
  color: #777777;
  font-size: 20px;
}

.bookmark-btn {
  color: #DC143C;
  font-size: 20px;
}

.unbookmark-btn {
  color: #777777;
  font-size: 20px;
}


// ハンバーガー(三本線色変更)
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header {
  background-color: #f2f2f2;
}

// ページネーション
.pagination {
  justify-content: center;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  color:  #666666;
}

.pagination>.active>a {
  background: white;
}

.page-item.active .page-link {
    color: black;
    background-color: white;
    border-color: #666666;
}
.pagination>li>a:hover {
  color: black;
}

// コーディネート一覧（画像）
.coordinate_link {
  display: block;
}

// コーディネート投稿
.new-post {
  border: 2px solid #DC143C;;
  padding: 3px;
}

h1 {
  font-size: 25px;
  background-color: #f2f2f2;
}