<div class="container">
  <h1 class="d-inline-block px-3 mb-4 mt-4">Bookmarks</h1>
  <div class="d-flex flex-wrap">
    <!--ブックマーク一覧-->
    <%= render partial: "public/coordinates/content", collection: @coordinates, as: :coordinate, locals: { display_favorite: false } %>
  </div>
</div>
