  <div class="serch_form">
    <%= form_with url: admin_search_path, method: :get, local:true do |f| %>
      <%= f.text_field :tag_name, class: "form-control" %>
      <%= f.submit "検索", class: "btn btn-outline-secondary" %>
    <% end %>
  </div>